In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('apple_products.csv')

In [4]:
# Show the content inside the dataset
df.head()

,Product Name,Product URL,Brand,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram
0,"APPLE iPhone 8 Plus (Gold, 64 GB)",https://www.flipkart.com/apple-iphone-8-plus-g...,Apple,49900,49900,0,3431,356,MOBEXRGV7EHHTGUH,4.6,2 GB
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,0,3431,356,MOBEXRGVAC6TJT4F,4.6,2 GB
2,"APPLE iPhone 8 Plus (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,0,3431,356,MOBEXRGVGETABXWZ,4.6,2 GB
3,"APPLE iPhone 8 (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-silver...,Apple,77000,77000,0,11202,794,MOBEXRGVMZWUHCBA,4.5,2 GB
4,"APPLE iPhone 8 (Gold, 256 GB)",https://www.flipkart.com/apple-iphone-8-gold-2...,Apple,77000,77000,0,11202,794,MOBEXRGVPK7PFEJZ,4.5,2 GB

In [5]:
# Count the rows
df.count()

Product Name           62
Product URL            62
Brand                  62
Sale Price             62
Mrp                    62
Discount Percentage    62
Number Of Ratings      62
Number Of Reviews      62
Upc                    62
Star Rating            62
Ram                    62
dtype: int64

In [6]:
# Add a column named Model Name
df['Model Name']= df['Product Name'].str[6:15]

In [7]:
df['Model Name']

0     iPhone 8
1     iPhone 8
2     iPhone 8
3     iPhone 8
4     iPhone 8
        ...
57    iPhone SE
58    iPhone 11
59    iPhone 11
60    iPhone 11
61    iPhone 11
Name: Model Name, Length: 62, dtype: object

In [8]:
# Show the newly added column
df.head()

,Product Name,Product URL,Brand,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram,Model Name
0,"APPLE iPhone 8 Plus (Gold, 64 GB)",https://www.flipkart.com/apple-iphone-8-plus-g...,Apple,49900,49900,0,3431,356,MOBEXRGV7EHHTGUH,4.6,2 GB,iPhone 8
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,0,3431,356,MOBEXRGVAC6TJT4F,4.6,2 GB,iPhone 8
2,"APPLE iPhone 8 Plus (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,0,3431,356,MOBEXRGVGETABXWZ,4.6,2 GB,iPhone 8
3,"APPLE iPhone 8 (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-silver...,Apple,77000,77000,0,11202,794,MOBEXRGVMZWUHCBA,4.5,2 GB,iPhone 8
4,"APPLE iPhone 8 (Gold, 256 GB)",https://www.flipkart.com/apple-iphone-8-gold-2...,Apple,77000,77000,0,11202,794,MOBEXRGVPK7PFEJZ,4.5,2 GB,iPhone 8

In [9]:
# Sorting dataset by Star Ratings
df.sort_values(by=['Star Rating'],ascending=False)

,Product Name,Product URL,Brand,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram,Model Name
20,"APPLE iPhone 11 Pro Max (Midnight Green, 64 GB)",https://www.flipkart.com/apple-iphone-11-pro-m...,Apple,117100,117100,0,1078,101,MOBFKCTSRYPAQNYT,4.7,4 GB,iPhone 11
17,"APPLE iPhone 11 Pro Max (Space Grey, 64 GB)",https://www.flipkart.com/apple-iphone-11-pro-m...,Apple,117100,117100,0,1078,101,MOBFKCTSKDMKCGQS,4.7,4 GB,iPhone 11
16,"APPLE iPhone 11 Pro Max (Midnight Green, 256 GB)",https://www.flipkart.com/apple-iphone-11-pro-m...,Apple,131900,131900,0,1078,101,MOBFKCTSCAAKGQV7,4.7,4 GB,iPhone 11
15,"APPLE iPhone 11 Pro Max (Gold, 64 GB)",https://www.flipkart.com/apple-iphone-11-pro-m...,Apple,117100,117100,0,1078,101,MOBFKCTSAPAYNSGG,4.7,4 GB,iPhone 11
14,"APPLE iPhone 11 Pro Max (Gold, 256 GB)",https://www.flipkart.com/apple-iphone-11-pro-m...,Apple,131900,131900,0,1078,101,MOBFKCTS7HCHSPFH,4.7,4 GB,iPhone 11
...,...,...,...,...,...,...,...,...,...,...,...,...
45,"APPLE iPhone 12 Mini (Black, 64 GB)",https://www.flipkart.com/apple-iphone-12-mini-...,Apple,59900,69900,14,740,64,MOBFWBYZXSEGBS6F,4.5,4 GB,iPhone 12
28,"APPLE iPhone 12 Mini (White, 64 GB)",https://www.flipkart.com/apple-iphone-12-mini-...,Apple,59900,69900,14,740,64,MOBFWBYZBH4CEC4C,4.5,4 GB,iPhone 12
23,"Apple iPhone SE (White, 256 GB) (Includes EarP...",https://www.flipkart.com/apple-iphone-se-white...,Apple,44999,54900,18,95909,8161,MOBFRFXHPZCHAPEH,4.5,2 GB,iPhone SE
41,"APPLE iPhone 12 Pro (Pacific Blue, 512 GB)",https://www.flipkart.com/apple-iphone-12-pro-p...,Apple,140900,149900,6,545,42,MOBFWBYZTHSXKMGW,4.5,4 GB,iPhone 12
27,"APPLE iPhone 12 Pro (Graphite, 256 GB)",https://www.flipkart.com/apple-iphone-12-pro-g...,Apple,120900,129900,6,545,42,MOBFWBYZBA36UB7G,4.5,6 GB,iPhone 12

In [10]:
# What is the range of prices for the Apple iPhone products in the dataset?
min_price=df['Sale Price'].min()
max_price=df['Sale Price'].max()
print(f"The range of prices for the Apple iPhone products in the dataset is between {min_price} and {max_price}")

The range of prices for the Apple iPhone products in the dataset is between 29999 and 140900

In [11]:
# How many different models of iPhones are included in the dataset?
model_num=df['Model Name'].nunique()
print(f" There are {model_num} different models of iPhones are included in the dataset")

 There are 6 different models of iPhones are included in the dataset

In [12]:
# Calculate the average discount percentage for all iPhones
average_discount_percentage=df['Discount Percentage'].mean()
print(f" The average discount percentage for all iPhones is {average_discount_percentage:.2f}%.")

 The average discount percentage for all iPhones is 9.95%.

In [13]:
# Find the iPhone model with the highest number of reviews
max_reviews=df.loc[df['Number Of Reviews'].idxmax()]['Model Name']
print(f" The iPhone model with the highest number of reviews is {max_reviews}.")

 The iPhone model with the highest number of reviews is iPhone SE.

In [14]:
# identify the iPhone model with the highest and lowest sale prices.
highest_sales_price=df.loc[df['Sale Price'].idxmax()]['Model Name']
lowest_sales_price=df.loc[df['Sale Price'].idxmin()]['Model Name']
print(f" The iPhone model with the highest and lowest sale prices are {highest_sales_price} and {lowest_sales_price}.")

 The iPhone model with the highest and lowest sale prices are iPhone 12 and iPhone SE.

In [15]:
# Is there a correlation between the number of ratings and the star rating of the products?

# Calculate the correlation coefficient
correlation = df['Number Of Ratings'].corr(df['Star Rating'])
print(f"The correlation between the number of ratings and star rating is: {correlation:.2f}")

# Interpretation: As the correlation coefficient is near zero, it shows a negative correlation.

The correlation between the number of ratings and star rating is: -0.22

In [16]:
# How many different brands are present in the dataset?
brand=df['Brand'].nunique()
print(f"There are {brand} different brands are present in the dataset")

There are 1 different brands are present in the dataset

In [17]:
# Can you compare the average star ratings for different iPhone models?
average_star_ratings = df.groupby('Model Name')['Star Rating'].mean()
print(f"Average Star Ratings for Different iPhone Models:")
print(average_star_ratings)

Average Star Ratings for Different iPhone Models:
Model Name
iPhone 11    4.631250
iPhone 12    4.557692
iPhone 8     4.562500
iPhone SE    4.500000
iPhone XR    4.600000
iPhone XS    4.600000
Name: Star Rating, dtype: float64

In [18]:
# What is the overall average star rating for all the iPhones in the dataset?
average_star_rating = df['Star Rating'].mean()
print(f"The overall average Star Rating for all the iPhones in the dataset {average_star_rating:.2f}")

The overall average Star Rating for all the iPhones in the dataset 4.58

In [19]:
# Can you calculate the average discount percentage for each iPhone model?
average_discount_percentage= df.groupby('Model Name')['Discount Percentage'].mean()
print(f"Average discount percentage for each iPhone Model:")
print(average_discount_percentage)

Average discount percentage for each iPhone Model:
Model Name
iPhone 11     9.750000
iPhone 12     8.961538
iPhone 8      0.000000
iPhone SE    22.000000
iPhone XR    19.200000
iPhone XS     0.000000
Name: Discount Percentage, dtype: float64

In [20]:
# Are there any missing values in the dataset? How would you handle them?
missing_values = df.isnull().sum()
print("Missing Values in the Dataset:")
print(missing_values)

Missing Values in the Dataset:
Product Name           0
Product URL            0
Brand                  0
Sale Price             0
Mrp                    0
Discount Percentage    0
Number Of Ratings      0
Number Of Reviews      0
Upc                    0
Star Rating            0
Ram                    0
Model Name             0
dtype: int64

In [21]:
# Is there any unusual or inconsistent data that stands out?
unique_models = df['Model Name'].unique()
print("Unique iPhone Models:")
print(unique_models)

Unique iPhone Models:
['iPhone 8 ' 'iPhone XS' 'iPhone XR' 'iPhone 11' 'iPhone SE' 'iPhone 12']

In [22]:
# How does the number of ratings and reviews vary across different iPhone models?
average_ratings_reviews_per_model = df.groupby('Model Name')[['Number Of Ratings', 'Number Of Reviews']].mean()
print("Average Number of Ratings and Reviews for Each iPhone Model:")
print(average_ratings_reviews_per_model)

Average Number of Ratings and Reviews for Each iPhone Model:
            Number Of Ratings  Number Of Reviews
Model Name
iPhone 11        21156.187500        1622.812500
iPhone 12         1018.115385          84.923077
iPhone 8          6345.125000         520.250000
iPhone SE        95875.000000        8158.666667
iPhone XR        79526.000000        6797.600000
iPhone XS         1454.000000         149.000000